* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Midnight";
    src: url(/fonts/Midnight.woff2);
    font-display: swap;
}

@font-face {
    font-family: "JetBrains";
    src: url(/fonts/JetBrainsMono.woff2);
    font-display: swap;
}

:root {
    font-family: "Inter", sans-serif;
    --light-color: #F8FAFC;
    --medium-color: #E4e6E6;
    --dark-color: #1C1918;
    --background-color: #18181B;
    --faq-color: #27272A;
    --light-area: #E2E8F0;
    --primary-color: #FACC15;
    --secundairy-color: #60A5FA;
    --tertiary-color: #3A6CAA;
    --quarternary-color: #1E426D;

}

@supports (font-variation-settings: normal) {
    :root {
        font-family: "Inter var", sans-serif;
    }
}

html {
    /* overflow-x: hidden; */
    background-color: var(--light-color);
    color: var(--dark-color);
    scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

body {
    /* opacity: 0; */
    line-height: 1;
    visibility: hidden;
    /* animation: fade-in .4s forwards; */
    /* overflow: hidden; */
    scrollbar-width: none;
    /* Verbergt de scrollbar */
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

/* Voor WebKit (Safari, Chrome) */
body::-webkit-scrollbar {
    display: none;
}


/* Optional: For Safari support */
@supports (-webkit-overflow-scrolling: touch) {
    body {
        -webkit-overflow-scrolling: touch;
    }
}

h1,
h2 {
    font-family: "Midnight", sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

button {
    text-decoration: none;
    border: none;
    background-color: inherit;
    color: inherit;
}

:focus {
    outline: 2px solid #FACC15;
    /* Using your yellow brand color */
    outline-offset: 3px;
    transition: outline-offset 0.2s ease;
}

/* Remove default focus outline for mouse users, but keep it for keyboard */
:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible {
    outline: 2px solid #FACC15;
    outline-offset: 3px;
    transition: outline-offset 0.2s ease;
}