---
import Layout from "@layout/Layout.astro";
---

<Layout>
    <section class="ai-agents">
        <h1>AI agents</h1>
    </section>
</Layout>

<style>
    .ai-agents {
        padding: 80px 25px 600px;
    }

    h1 {
        font-size: 48px;
        padding-bottom: 80px;
    }
</style>