---
import Layout from "@layout/Layout.astro";
---

<Layout>
    <section class="contact">
        <!-- <div class="gradient-container" aria-hidden="true">
            <div class="gradient-element"></div>
        </div> -->

        <h1>Contact</h1>

        <form id="contactForm" class="form">
            <div>
                <label> Naam* </label>
                <input type="text" name="name" required />
            </div>

            <div>
                <label> E-mail* </label>
                <input type="email" name="email" required />
            </div>

            <div>
                <label> Bericht* </label>
                <textarea name="message" required></textarea>
            </div>

            <button class="send-button" type="submit">Verstuur</button>
        </form>
    </section>
</Layout>

<style>
    .contact {
        padding: 80px 25px;
    }

    h1 {
        font-size: 48px;
        padding-bottom: 80px;
    }

    form {
        display: grid;
        grid-template-columns: 1;
        gap: 24px;
        margin: 0 auto;
        max-width: 680px;
    }

    form div {
        display: grid;
        grid-template-columns: 1;
    }

    label {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        padding-left: 4px;
    }

    input,
    textarea {
        border: none;
        background-color: var(--light-area);
        padding: 8px 20px;
        border-radius: 8px;
    }

    input {
        height: 44px;
    }

    textarea {
        height: 128px;
    }

    .send-button {
        background-color: var(--dark-color);
        color: var(--light-color);
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 8px;
        width: auto;
        margin: 24px 0 0 4px;
        width: max-content;
    }

    .send-button:hover {
        cursor: pointer;
    }

    /* .gradient-container {
        position: absolute;
        left: -30rem;
        right: 0;
        top: -5rem;
        transform: translateZ(0);
        overflow: hidden;
        z-index: -1;
        filter: blur(34px);
    }

    .gradient-element {
        position: relative;
        left: 50%;
        z-index: -10;
        aspect-ratio: 1155/678;
        width: 36.125rem;
        max-width: none;
        transform: translateX(-50%) rotate(30deg);
        background-image: linear-gradient(to top right, #ff80b5, #9089fc);
        opacity: 0.3;
        clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
        );
    } */

    @media screen and (min-width: 540px) {
        h1 {
            font-size: 60px;
        }
    }

    /* @media screen and (min-width: 940px) {
        .gradient-container {
            top: -20rem;
        }

        .gradient-element {
            left: calc(50% - 40rem);
            width: 72.1875rem;
        }
    } */

    @media screen and (min-width: 813px) {
        .contact {
            padding: 120px 60px;
        }

        h1 {
            font-size: 72px;
            text-align: center;
        }
    }

    @media screen and (min-width: 1024px) {
        .contact {
            padding: 120px 60px;
        }

        h1 {
            font-size: 128px;
        }
    }
</style>

<script type="module">
    document
        .getElementById("contactForm")
        .addEventListener("submit", async (e) => {
            e.preventDefault();
            const form = e.target;

            const data = {
                name: form.name.value,
                email: form.email.value,
                message: form.message.value,
            };

            const res = await fetch("/api/contact", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data),
            });

            if (res.ok) {
                window.location.href = "/succes";
            } else {
                alert("Fout bij verzenden.");
            }
        });
</script>
