---
import Layout from "@layout/Layout.astro";
import Hero from "@molecules/Hero.astro";
import Projects from "@organisms/Projects.astro";
import Services from "@organisms/Services.astro";
import Faq from "@organisms/Faq.astro";
---

<Layout>
	<Hero />
	<div class="wrapper">
		<Projects />
		<Services />
		<Faq />
	</div>
</Layout>

<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
		gsap.registerPlugin(ScrollTrigger);

		// Give ScrollTrigger access to Lenis scroll position
		ScrollTrigger.scrollerProxy(document.documentElement, {
			scrollTop(value) {
				return arguments.length
					? window.lenis.scrollTo(value)
					: window.lenis.scroll;
			},
			getBoundingClientRect() {
				return {
					top: 0,
					left: 0,
					width: window.innerWidth,
					height: window.innerHeight,
				};
			},
		});

		// Rest of your existing ScrollTrigger animations
		gsap.timeline({
			scrollTrigger: {
				trigger: ".projects",
				start: "90% center",
				end: "110% center",
				scrub: true,
				markers: false,
			},
		})
			.to(".wrapper", {
				backgroundColor: gsap.getProperty("html", "--background-color"),
			})
			.to(
				".project-text h3, .project-text a",
				{
					color: gsap.getProperty("html", "--light-color"),
				},
				"<",
			);

		gsap.timeline({
			scrollTrigger: {
				trigger: ".wrapper",
				start: "bottom-=100 center",
				end: "bottom+=200 center",
				scrub: true,
				markers: false,
			},
		}).to(".wrapper", {
			borderRadius: "84px",
			width: "97vw",
		});

		// Tell ScrollTrigger to update when Lenis scroll happens
		window.lenis.on("scroll", ScrollTrigger.update);
	});
</script>
<style>
	.wrapper {
		width: 100%;
		/* max-width: 1200px; */
		margin: 0 auto;
	}
</style>
