---
import Layout from "@layout/Layout.astro";
import Hero from "@molecules/Hero.astro";
import Projects from "@organisms/Projects.astro";
import Services from "@organisms/Services.astro";
import Faq from "@organisms/Faq.astro";
---

<Layout>
	<Hero />
	<div class="wrapper">
		<Projects />
		<Services />
		<Faq />
	</div>
	<div class="spacer"></div>
</Layout>

<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
		gsap.registerPlugin(ScrollTrigger);

		gsap.timeline({
			scrollTrigger: {
				trigger: ".projects",
				start: "90% center",
				end: "110% center",
				scrub: true,
				markers: false,
			},
		})
			.to(".wrapper", {
				backgroundColor: gsap.getProperty("html", "--background-color"),
			})
			.to(
				".project-text h3, .project-text a",
				{
					color: gsap.getProperty("html", "--light-color"),
				},
				"<",
			);

		gsap.timeline({
			scrollTrigger: {
				trigger: ".wrapper",
				start: "bottom center", // Of "bottom center" afhankelijk van gewenst moment
				end: "bottom+=300 center", // Geeft ruimte aan de animatie
				scrub: true,
				markers: false,
			},
		}).to(".wrapper", {
			borderRadius: "24px",
			width: "95vw",
		});
	});
</script>
<style>
	.wrapper {
		width: 100%;
		/* max-width: 1200px; */
		margin: 0 auto;
	}

	.spacer {
		height: 1000px;
	}
</style>
