---
import Layout from "@layout/Layout.astro";
import Hero from "@molecules/Hero.astro";
import Projects from "@organisms/Projects.astro";
import Services from "@organisms/Services.astro";
---

<Layout>
	<Hero />
	<div class="wrapper">
		<Projects />
		<Services />
	</div>
</Layout>

<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
		gsap.registerPlugin(ScrollTrigger);

		gsap.fromTo(
			".wrapper",
			{
				backgroundColor: gsap.getProperty("html", "--light-color"),
			},
			{
				scrollTrigger: {
					trigger: ".projects",
					scrub: true,
					markers: false,
					start: "90% center",
					end: "110% center",
				},
				backgroundColor: gsap.getProperty("html", "--dark-color"),
			},
		);

		gsap.fromTo(
			".project-text h3, .project-text a",
			{
				color: gsap.getProperty("html", "--dark-color"), // startkleur
			},
			{
				color: gsap.getProperty("html", "--light-color"), // eindkleur
				scrollTrigger: {
					trigger: ".projects", // of een andere trigger die je wilt
					start: "90% center",
					end: "110% center",
					scrub: true,
					markers: false,
				},
			},
		);
	});
</script>
