---
import Layout from "@layout/Layout.astro";
import Project from "@molecules/Project.astro";
---

<Layout>
    <section class="projecten">
        <div class="projecten-text">
            <h1>Projecten</h1>
            <p>
                Onze projecten weerspiegelen waar we voor staan: doordacht
                design en technische excellentie. Elk project vertelt een uniek
                verhaal van samenwerking met merken die net als wij streven naar
                impact. Bekijk hieronder ons meest recente werk.
            </p>
        </div>
        <div class="projects" id="projects">
            <ol>
                <li><Project /></li>
                <li><Project /></li>
                <li><Project /></li>
                <li><Project /></li>
                <li><Project /></li>
                <li><Project /></li>
            </ol>
        </div>
    </section>
</Layout>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        gsap.registerPlugin(ScrollTrigger);

        gsap.timeline({
            scrollTrigger: {
                trigger: ".projecten",
                start: "50% center",
                end: "90% center",
                scrub: true,
                markers: false,
            },
        })
            .to(".projecten", {
                backgroundColor: gsap.getProperty("html", "--background-color"),
            })
            .to(
                ".project-text h3, .project-text a",
                {
                    color: gsap.getProperty("html", "--light-color"),
                },
                "<",
            );

        gsap.timeline({
            scrollTrigger: {
                trigger: ".projecten",
                start: "bottom-=100 center",
                end: "bottom+=200 center",
                scrub: true,
                markers: false,
            },
        }).to(".projecten", {
            "--faq-clip": "2vw",
            "--faq-radius": "5rem",
        });
    });
</script>

<style>
    .projecten {
        padding: 80px 25px 200px;
    }

    .projecten-text {
        padding-bottom: 80px;
    }

    h1 {
        font-size: 40px;
        text-transform: uppercase;
    }

    p {
        padding-top: 24px;
        line-height: 1.8;
    }

    ol {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        gap: 90px;
        padding: 0;
        margin: 0;
    }

    @media screen and (min-width: 380px) {
        h1 {
            font-size: 48px;
        }
    }

    @media screen and (min-width: 764px) {
        ol {
            display: grid;
            gap: 96px;
            grid-template-columns: repeat(2, 1fr);
            /* Definieer expliciete rijen met verschillende hoogtes */
            grid-template-rows: 200px 200px 200px 200px 200px 200px;
            grid-auto-flow: column;
        }

        /* Eerste en derde item in de eerste kolom */
        ol > li:nth-child(1) {
            grid-column: 1;
            grid-row: 1;
        }

        ol > li:nth-child(3) {
            grid-column: 1;
            grid-row: 3;
        }

        ol > li:nth-child(5) {
            grid-column: 1;
            grid-row: 5;
        }

        /* Tweede en vierde item in de tweede kolom, verschoven */
        ol > li:nth-child(2) {
            grid-column: 2;
            grid-row: 2 / span 2;
        }

        ol > li:nth-child(4) {
            grid-column: 2;
            grid-row: 4 / span 2;
        }

        ol > li:nth-child(6) {
            grid-column: 2;
            grid-row: 6 / span 2;
        }
    }

    @media screen and (min-width: 813px) {
        .projecten-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 120px 60px;
            text-align: center;
        }

        h1 {
            font-size: 72px;
            text-align: center;
        }

        p {
            width: 90%;
            font-size: 18px;
        }
    }

    @media screen and (min-width: 1024px) {
        h1 {
            font-size: 128px;
        }

        p {
            width: 90%;
            font-size: 20px;
        }

        ol {
            gap: 176px;
        }
    }
</style>

<style is:global>
	.projecten {
		--faq-clip: 0;
		--faq-radius: 0;
		clip-path: inset(var(--faq-clip) round var(--faq-radius));
		margin-top: -1px; /* Fix weird clip path behavior */
	}
</style>
