---
import Layout from "@layout/Layout.astro";
---

<Layout>
    <h1>Het is gelukt!</h1>
</Layout>

<style>
    h1 {
        font-size: 48px;
        padding-bottom: 80px;
    }

    @media screen and (min-width: 813px) {
        h1 {
            font-size: 72px;
            text-align: center;
        }
    }

    @media screen and (min-width: 1024px) {
        h1 {
            font-size: 128px;
        }
    }
</style>
