---
import Layout from "@layout/Layout.astro";
---

<Layout>
    <section class="team">
        <h1>Coming soon</h1>
    </section>
</Layout>

<style>
    .team {
        padding: 80px 25px 400px;
    }

    h1 {
        font-size: 48px;
        padding-bottom: 80px;
    }

    @media screen and (min-width: 813px) {
        h1 {
            font-size: 72px;
            text-align: center;
        }
    }

    @media screen and (min-width: 1024px) {
        h1 {
            font-size: 128px;
        }
    }
</style>
