---
import Layout from '@layout/Layout.astro';
---

<Layout>
    <section class="team">
        <h1>Coming soon</h1>
    </section>
</Layout>

<style>
    .team {
        padding: 80px 25px 400px;
    }

    h1 {
        font-size: 48px;
        text-transform: uppercase;
        padding-bottom: 80px;
    }
</style>