---
import Logo from "../components/atoms/logo.astro"
---
<!-- <h1>WE CREATE<br />WEBSITES</h1> -->
<header>
<Logo />
<div class="mobile-menu">
    <button class="contact-btn">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="contact-icon"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
        ></path>
    </svg>
</button>
<button class="menu-btn">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="menu-icon"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
    </button>
</div>

</header>
<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 25px;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        background-color: #E4E6E6;
        padding: 4.4px 16px;
        gap: 24px;
        border-radius: 12px;
    }

    .contact-btn {
        text-decoration: none;
        border: none;
        background-color: #E4E6E6;
        width: 20px;
        height: 20px;
    }

    .menu-btn {
        text-decoration: none;
        border: none;
        background-color: #E4E6E6;
        width: 30px;
        height: 30px;
    }

    .contact-icon {
        width: 100%;
    }

    .menu-icon {
        width: 100%;
    }

    @media screen and (min-width: 768px){
        
    }

    @media screen and (min-width: 1024px){
        
    }
</style>
