---
const {
  text = "Klik hier",
  href = "#",
  tabIndex = 0,
  animateTag = null,
} = Astro.props;
---

<div class="squircle">
  <a
    class="button"
    href={href}
    tabindex={tabIndex}
    {...animateTag ? { "data-animate": animateTag } : {}}
  >
    {text}
    <svg
      class="arrow-icon"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
    </svg>
  </a>
</div>

<style>
  .button {
    display: flex;
    font-size: 20px;
    max-width: max-content;
    align-items: center;
    background: var(--tertiary-color);
    font-weight: 600;
    color: var(--light-color);
    padding: 12px 20px;
    width: 100%;
    margin: 24px 0 0;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 12px;
  }

  .arrow-icon {
    width: 20px;
    height: auto;
    margin-left: 14px;
    margin-top: 2px;
  }

  @media (hover: hover) {
    .button {
      background-color: transparent;
      background-image: linear-gradient(90deg, #3a6caa 50%, #facc15 50%);
      transition: background-position 0.6s;
      background-size: 300%;
    }

    .button:hover {
      color: #fff;
      background-position: -50%;
    }

    .arrow-icon {
      width: 24px;
      height: auto;
      margin-left: 20px;
      margin-top: 0;
      stroke-width: 3px;
    }
  }
</style>
