---
import WebsiteSvg from "@atoms/WebsiteSVG.astro";
import ToolsSvg from "@atoms/ToolsSVG.astro";
import DesignSvg from "@atoms/DesignSVG.astro";
import ContentSvg from "@atoms/ContentSVG.astro";
---

<div class="cards-container">
    <div class="scroll-cards">
        <h2>Onze diensten</h2>
        <article class="scroll-cards__item" tabindex="0">
            <div class="scroll-card-image">
                <WebsiteSvg />
            </div>
            <div class="scroll-card-text">
                <h3>Websites</h3>
                <p>
                    Wij ontwikkelen razendsnelle, moderne websites die perfect
                    aansluiten op jouw merkidentiteit. Altijd responsive,
                    gebruiksvriendelijk én voorbereid op slimme contentintegraties.
                    Een slimme, visueel sterke website die vertrouwen wekt én aanzet
                    tot actie.
                </p>
            </div>
        </article>
        <article class="scroll-cards__item" tabindex="0">
            <div class="scroll-card-image">
                <ToolsSvg />
            </div>
            <div class="scroll-card-text">
                <h3>AI agents</h3>
                <p>
                    Bespaar tijd op contentcreatie zonder in te leveren op kwaliteit. Onze AI Agents leren jouw unieke toon en stijl, en passen deze toe op social media, e-mails en SEO‑blogs. Zo focust jouw team zich op groei en kwaliteit, niet op repetitieve taken.
                </p>   
            </div>
        </article>
        <article class="scroll-cards__item" tabindex="0">
            <div class="scroll-card-image">
                <DesignSvg />
            </div>
            <div class="scroll-card-text">
                <h3>Designs</h3>
                <p>
                    We ontwerpen sterke, mobile-first designs die werken op elk
                    schermformaat. Elk ontwerp is helder, functioneel en zorgt
                    online voor impact, of het nu gaat om branding of gebruiksgemak.
                    Goed design valt op, blijft hangen én werkt voor iedereen.
                </p>
            </div>
        </article>
        <article class="scroll-cards__item" tabindex="0">
            <div class="scroll-card-image">
                <ContentSvg />
            </div>
            <div class="scroll-card-text">
                <h3>Content</h3>
            <p>
                Goede content valt op én voelt vertrouwd. We sturen een ervaren
                fotograaf langs om foto- en videocontent te maken wat
                past bij jouw merk en website. Daarnaast schrijven we heldere,
                overtuigende teksten die je verhaal versterken en de bezoeker
                meenemen met jouw bedrijf.
            </p>
            </div>
        </article>
    </div>
</div>

<style>
    .cards-container {
        /* max-width: 60em; */
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .scroll-cards {
        counter-recroll-card;
        position: relative;
        display: block;
        padding: 200px 25px;
        /* width: 80vw; */
    }

    .scroll-card-image {
        padding: 12px;
    }

    .scroll-cards > .scroll-cards__item + .scroll-cards__item {
        margin-top: 40vh;
    }

    .scroll-cards h2 {
        text-align: center;
        position: sticky;
        top: 150px;
        color: var(--light-color);
    }

    .scroll-cards__item {
        --offset: 20px;
        color: #000;
        position: sticky;
        top: 120px;
        margin-top: 400px;
        padding: 32px 24px;
        height: 480px;
        background: #fff;
        box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }

    h3 {
        text-transform: uppercase;
        padding: 16px 0;
        margin: 0;
    }

    .scroll-card-text p {
        font-family: 'Inter', sans-serif;
        font-size: clamp(0.75rem, .8vw + 0.75rem, 1.75rem);
        line-height: 1.5;
    }

    .scroll-cards__item:nth-of-type(0) {
        transform: translateY(calc((0 - 1) * var(--offset)));
    }
    .scroll-cards__item:nth-of-type(1) {
        transform: translateY(calc((1 - 1) * var(--offset)));
    }
    .scroll-cards__item:nth-of-type(2) {
        transform: translateY(calc((2 - 1) * var(--offset)));
    }
    .scroll-cards__item:nth-of-type(3) {
        transform: translateY(calc((3 - 1) * var(--offset)));
    }
    .scroll-cards__item:nth-of-type(4) {
        transform: translateY(calc((4 - 1) * var(--offset)));
    }

    @media screen and (min-width: 500px) {
        .scroll-cards__item {
            padding: 48px 36px;
        }
    }

    @media screen and (min-width: 768px) {
        .scroll-cards__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 350px;
        }

        .scroll-card-text {
            max-width: 60%;
            padding-left: 48px;
        }

        h3 {
            padding-top: 0;
        }

        p {
            line-height: 1.7;
        }
    }

    @media screen and (min-width: 813px) {
        .scroll-cards {
            padding: 200px 60px;
        }

        .scroll-cards__item {
            --offset: 30px;
        }
    }


    @media screen and (min-width: 928px) {
        .scroll-cards h2 {
            top: 250px;
        }

        .scroll-cards__item {
            --offset: 25px;
            height: 400px;
            top: 140px;
        }

        .scroll-card-text {
            max-width: 60%;
        }
    }

    @media screen and (min-width: 1024px) {
        .scroll-cards__item {
            --offset: 40px;
            padding: 62px 48px;
        }
    }


    @media screen and (min-width: 1224px) {
        .scroll-cards {
            padding: 200px 120px;
        }

        .scroll-cards__item {
            --offset: 40px;
            padding: 62px 48px;
            height: 450px;
        }

        .scroll-card-text {
            max-width: 60%;
            padding-left: 60px;
        }
    }

    @media screen and (min-width: 1624px) {
        .scroll-cards {
            padding: 200px 220px;
        }

        .scroll-cards__item {
            --offset: 40px;
            padding: 80px 60px;
            height: 650px;
        }

        .scroll-card-text {
            max-width: 60%;
            padding-left: 80px;
        }
    }
</style>
