---
import ArrowRight from "../atoms/arrow-right.astro";
---

<section class="project">
    <img
        class="project-image"
        alt="project"
        src="/images/Zensation-mock-up.webp"
        width="600"
        height="500"
        loading="lazy"
    />
    <div class="project-text">
        <h3>Zensation</h3>
        <a aria-label="See project" href="/"
            ><span>See project </span><ArrowRight /></a
        >
    </div>
</section>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        gsap.registerPlugin(ScrollTrigger);

        document.querySelectorAll(".project-image").forEach((img) => {
            gsap.set(img, { scale: 0.6 });
            gsap.to(img, {
                scale: 1,
                ease: "power2.out",
                scrollTrigger: {
                    trigger: img,
                    start: "-300% center",
                    end: "10% center",
                    scrub: true,
                    markers: false,
                },
            });
        });
    });
</script>

<style>
    section {
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .project-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 32px 8px;
    }

    h3 {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1.5;
        text-transform: uppercase;
    }

    a {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    a span {
        display: none;
    }

    @media screen and (min-width: 1024px) {
        a span {
            display: block;
        }
    }
</style>
