---
import faqs from "@data/faqs.json";
---

<section id="faq" class="faq-section">
    <h2 class="faq-title">FAQ</h2>

    <div class="faq-list">
        {
            faqs.map(({ question, answer }) => (
                <details class="faq-item">
                    <summary class="faq-question">
                        {question}{" "}
                        <svg
                            class="faq-arrow"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            class="size-6"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                            />
                        </svg>
                    </summary>
                    <p class="faq-answer">{answer}</p>
                </details>
            ))
        }
    </div>
</section>

<style>
    .faq-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 160px 25px;
        color: var(--light-color);
    }

    .faq-title {
        font-size: 48px;
        text-align: center;
        margin-bottom: 2rem;
    }

    .faq-item {
        background-color: var(--faq-color);
        color: var(--light-color);
        border-radius: 8px;
        margin-bottom: 1rem;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .faq-question {
        cursor: pointer;
        font-weight: 500;
        padding: 2rem;
        display: flex;
        font-size: 18px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .faq-answer {
        padding: 0 2rem 2rem;
        font-size: 1rem;
        line-height: 1.5;
    }

    .faq-arrow {
        transition: transform 0.15s ease;
        min-width: 20px;
        width: 20px;
        height: auto;
    }

    details[open] .faq-arrow {
        transform: rotate(90deg);
    }

    details summary::-webkit-details-marker {
        display: none;
    }

    details summary {
        list-style: none;
    }

    /* For Firefox */
    details > summary {
        list-style-type: none;
    }

    @media screen and (min-width: 768px) {
        .faq-section {
            flex-direction: row;
            justify-content: space-between;
        }

        .faq-title {
            font-size: 60px;
            height: 100%;
            line-height: 0.9;
        }

        .faq-question {
            font-size: 20px;
            padding: 40px;
        }

        .faq-answer {
            padding: 0 40px 40px;
            font-size: 18px;
            line-height: 1.5;
        }

        .faq-list {
            width: 70%;
        }
    }

    @media screen and (min-width: 813px) {
        .faq-section {
            padding: 200px 60px;
        }
    }

    @media screen and (min-width: 1024px) {
        .faq-section {
            padding: 400px 60px;
        }

        .faq-title {
            font-size: 96px;
        }

        .faq-list {
            width: 60%;
        }

        .faq-question {
            font-size: 24px;
            padding: 48px;
        }

        .faq-answer {
            padding: 0 48px 48px;
            font-size: 20px;
            line-height: 1.5;
        }
    }
</style>
