---
import ArrowRight from "@atoms/ArrowRight.astro";
---

<section class="footer">
    <div class="footer-content">
        <div class="consult">
            <h4>Plan een gratis consult</h4>
            <a
                class="contact-button"
                href="/contact"
                aria-label="go to contact form"
                >Contact <svg
                    class="faq-arrow"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="size-6"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
                </svg></a
            >
        </div>
        <div class="footer-links">
            <ul class="pages">
                <li><a href="/">Home</a></li>
                <li><a href="/projecten">Projecten</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="social-media">
                <li><a href="/">Instagram</a></li>
                <li><a href="/">Linkedin</a></li>
                <li><a href="/">Tiktok</a></li>
            </ul>
        </div>
    </div>
    <p class="copyright">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="currentColor"
            ><path
                d="M400-320h160q17 0 28.5-11.5T600-360v-80h-80v40h-80v-160h80v40h80v-80q0-17-11.5-28.5T560-640H400q-17 0-28.5 11.5T360-600v240q0 17 11.5 28.5T400-320Zm80 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"
            ></path></svg
        >
        2025 Brix Studio
    </p>
</section>

<style>
    .footer {
        padding: 50px 25px 25px;
    }

    h4 {
        font-size: 48px;
        font-weight: 400;
    }

    .contact-button {
        display: flex;
        font-size: 20px;
        background-color: var(--dark-color);
        color: var(--light-color);
        padding: 20px 16px;
        border-radius: 8px;
        width: 70%;
        margin: 24px 0 0;
        justify-content: space-between;
    }

    .contact-button:hover {
        background-color: var(--faq-color);
    }

    .faq-arrow {
        transition: transform 0.15s ease;
        width: 24px;
        height: auto;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Twee kolommen met gelijke breedte */
        gap: 20px;
        padding: 72px 0 0 4px;
    }

    ul {
        list-style: none;
    }

    li {
        padding: 8px 0;
    }

    .copyright {
        display: flex;
        align-items: center;
        margin-top: 96px;
    }

    @media screen and (min-width: 630px) {
        .contact-button {
            width: 50%;
        }
    }

    @media screen and (min-width: 813px) {
        .footer {
            padding: 150px 60px 25px;
        }

        h4 {
            font-size: 60px;
        }

        .footer-content {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-bottom: 100px;
        }

        .contact-button {
            margin: 24px 0 0;
        }

        .footer-links {
            padding-top: 0;
            font-size: 20px;
            width: 100%;
        }

        .email {
            margin: 48px 0;
            font-size: 20px;
        }

        .copyright {
            display: flex;
            align-items: center;
            font-size: 20px;
        }
    }
</style>
