---
import MenuButton from "@molecules/MenuButton.astro";
import ContactButton from "@molecules/ContactButton.astro";
import Logo from "@atoms/Logo.astro";
import Menu from "@molecules/Menu.astro";
---

<nav>
    <a href="/" aria-label="Go to homepage">
        <Logo />
    </a>

    <input type="checkbox" id="mobile-menu-toggle" class="menu-toggle" />

    <div class="small-menu">
        <a href="/contact" class="contact-button" aria-label="Go to contact form">
            <ContactButton />
        </a>

        <label for="mobile-menu-toggle" class="menu-button">
            <MenuButton />
        </label>
    </div>

    <div class="mobile-menu">
        <Menu />
    </div>

    <div class="large-menu">
        <Menu />
    </div>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 25px;
    }

    .menu-toggle {
        display: none;
    }

    .small-menu {
        position: fixed;
        right: 25px;
        display: flex;
        align-items: center;
        background-color: var(--medium-color);
        padding: 4.4px 16px;
        gap: 24px;
        border-radius: 12px;
        z-index: 100;
    }

    .contact-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e4e6e6;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-decoration: none;
        cursor: pointer;
    }

    .contact-button svg {
        width: 60%;
        height: 60%;
        pointer-events: none;
    }

    .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e4e6e6;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
    }

    .menu-button svg {
        width: 60%;
        height: 60%;
        pointer-events: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        top: 70px;
        right: 25px;
        background-color: var(--medium-color);
        padding: 20px 5.5px;
        border-radius: 16px;
        z-index: 1000;
        transition: all .2 ease-out;
    }

    .menu-toggle:checked ~ .small-menu + .mobile-menu {
        display: block;
    }

    .large-menu {
        display: none;
        background-color: var(--medium-color);
        padding: 10px 12px;
        border-radius: 16px;
    }

    @media screen and (min-width: 768px) {
        .small-menu {
            display: none;
        }

        .mobile-menu {
            display: none;
        }

        .large-menu {
            display: block;
        }
    }

    @media screen and (min-width: 1024px) {
    }
</style>
