---
import Project from '@molecules/Project.astro'
---

<div class="projects" id="projects">
<Project />
<Project />
<Project />
<Project />
</div>

<style>
    .projects {
        display: grid;
        grid-template-columns: 1;
        gap: 90px;
        padding: 80px 25px 25px;
    }
</style>