---
import BackgroundTexture from "../components/atoms/BackgroundTextures.astro";
import Navigation from "../components/organisms/Navigation.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Brix Studio</title>
		<link rel="stylesheet" href="/css/global.css" />
	</head>
	<body>
		<BackgroundTexture />
		<Navigation />
		<slot />
	</body>

	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
	defer></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
	defer></script>
</html>


