---
import Navigation from "@organisms/Navigation.astro";
import BackgroundTexture from "@atoms/BackgroundTexture.astro";
import Footer from "@organisms/Footer.astro";
import Cursor from "@atoms/Cursor.astro";

const { 
	title = "Brix Studio",
	description = "Brix Studio creëert websites, designs en AI-oplossingen die voldoen aan de nieuwste standaarden. Wij maken digitale producten die converteren en impact maken. Bekijk ons werk.",
 } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<title>{title}</title>
		<link rel="stylesheet" href="/css/global.css" />
		<link
			rel="preload"
			href="/fonts/Midnight.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/JetBrainsMono.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="icon"
			type="image/jpg"
			sizes="64x64"
			href="/images/BrixIcon.jpg"
		/>
	</head>
	<body>
		<BackgroundTexture />
		<Cursor />
		<Navigation />
		<slot />
		<Footer />
	</body>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
		defer></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
		defer></script>
	<script src="https://cdn.jsdelivr.net/npm/split-type@latest" defer></script>

	<script>
		import "../scripts/smooth-scroll";
	</script>
</html>
