---
import Navigation from "@organisms/Navigation.astro";
import BackgroundTexture from "@atoms/BackgroundTexture.astro";
import Footer from "@organisms/Footer.astro";
import Cursor from "@atoms/Cursor.astro";

const {
	title = "Brix Studio",
	description = "Brix Studio creëert websites, designs en AI-oplossingen die voldoen aan de nieuwste standaarden. Wij maken digitale producten die converteren en impact maken. Bekijk ons werk.",
	structuredData = {
		"@context": "https://schema.org",
		"@type": "Organization",
		name: "Brix Studio",
		url: "https://www.brixstudio.nl",
		description:
			"Brix Studio creëert websites, designs en AI-oplossingen die voldoen aan de nieuwste standaarden. Wij maken digitale producten die converteren en impact maken.",
	},
} = Astro.props;

// Converteer structuredData naar een string
const structuredDataString = JSON.stringify(
	typeof structuredData === "function" ? structuredData() : structuredData,
);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<title>{title}</title>

		<!-- JSON-LD voor gestructureerde data -->
		<script type="application/ld+json" set:html={structuredDataString} />

		<link rel="stylesheet" href="/css/global.css" />
		<link
			rel="preload"
			href="/fonts/Midnight.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/JetBrainsMono.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			sizes="64x64"
			href="images/BrixStudioIcon.svg"
		/>
	</head>
	<body>
		<div class="page-reveal">
			<div class="reveal-panel left"></div>
			<div class="reveal-logo">
			  <svg viewBox="0 0 164 34" width="164" xmlns="http://www.w3.org/2000/svg">
				<path d="m27.8333 9.8001h-25.66672" stroke="#000" stroke-width="1.4"/>
				<path d="m27.8333 30.8001h-25.66672" stroke="#000" stroke-width="1.4"/>
				<path d="m.999756 3.49995h28.000044" stroke="#000" stroke-width="1.4"/>
				<path d="m1.58325 31.5v-27.99941" stroke="#000" stroke-width="1.4"/>
				<path d="m28.4167 31.4993v-27.99944" stroke="#000" stroke-width="1.4"/>
				<path d="m27.8333 23.8001h-25.66672" stroke="#000" stroke-width="1.4"/>
				<path d="m27.8333 16.8001h-25.66672" stroke="#000" stroke-width="1.4"/>
				<path d="m20.3667 24.5v7" stroke="#000" stroke-width="1.4"/>
				<path d="m9.86675 17.5v7" stroke="#000" stroke-width="1.4"/>
				<path d="m20.3667 10.5v7" stroke="#000" stroke-width="1.4"/>
				<path d="m9.86675 3.5v7" stroke="#000" stroke-width="1.4"/>
			  </svg>
			</div>
			<div class="reveal-panel right"></div>
		  </div>
		<BackgroundTexture />
		<Cursor />
		<Navigation />
		<slot />
		<Footer />
	</body>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
		defer></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
		defer></script>
	<script src="https://cdn.jsdelivr.net/npm/split-type@latest" defer></script>
	<script>
		import "../scripts/smooth-scroll";
	</script>
</html>
